$screen-sm-min: 600px;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
.Fotter {
  position: fixed;
  bottom: 0;
}

.Body > div.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
  @include sm {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.posts {
  @include sm {
    margin-top: 10px;
  }
}
.posts_div {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
}
.postsheader {
  border-bottom: 1px solid #dbdbdb;
}
