.post_header {
  display: flex;
  padding: 15px;
  align-items: center;
}
.post_logo {
  flex: 0.1;
  margin-right: 5px;
}
.post_title {
  flex: 0.9;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
}
